#map {
	height: 90%;
	width: 90%;
	margin: 3% 5%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.acess{
    display: flex;
    justify-content: flex-end;

}
.bTrue{
 color: green;

}

.bFalse{
	color: red;
   
   }